{% extends "layout.html" %}

{% block title %}
    Record
{% endblock %}

{% block main %}
<body>
<div class="section">

    <h2>All Hikes</h2>
    <table class ="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for hike in hikes %}
            <tr>
                <td>{{ hike.location }}</td>
                <td>{{ hike.date }}</td>
                <td>{{ hike.distance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </div>
    </table>
{% endblock %}
